.hero {
  background-image: linear-gradient(90deg, #0000000f 1px, transparent 1px),
    linear-gradient(#0000000f 1px, transparent 1px);
  background-size: 100px 100px;

  @apply h-full min-h-screen text-center pt-28 lg:pt-28 w-full font-nunito text-secondary dark:text-primary;

  .hero-title {
    @apply text-4xl px-6 lg:text-5xl font-bold;
  }

  .hero-subtitle {
    @apply text-lg lg:text-xl py-8 md:py-6 lg:py-4 px-10;
  }

  .hero-image-container {
    @apply flex justify-center;

    .hero-image {
      @apply w-11/12 lg:w-3/5;
    }
  }

  .hero-swiper {
    .swiper-pagination-bullet {
      @apply inline-block w-6 h-2 lg:w-8 lg:h-3 border border-[#D2E6FF] dark:border-[#D2E6FF4D] rounded-full bg-[#D2E6FF66] dark:bg-[#D2E6FF29];
      transition: width 0.3s ease;
    }

    .swiper-pagination-bullet-active {
      @apply w-10 lg:w-16 border border-[#A4CDFF] dark:border-[#A4CDFF4D] bg-[#D2E6FF4D] dark:bg-[#A4CDFF66];
    }
  }
}

.dark .hero {
  background-image: linear-gradient(90deg, #d2e6ff14 1px, transparent 1px),
    linear-gradient(#d2e6ff14 1px, transparent 1px);
}

.statistics {
  @apply font-nunito text-secondary dark:text-primary py-6 px-4 lg:px-10 lg:py-8;

  .statistics-card {
    @apply p-4 bg-cardBackgroundLight dark:bg-cardBackgroundDark border rounded-xl border-cardBorderColorLight dark:border-cardBorderColorDark;

    .statistics-card-subtitle {
      @apply pt-2 text-xl font-light dark:text-[#E6E4E4];
    }
  }
}

.features {
  background-image: linear-gradient(90deg, #0000000f 1px, transparent 1px),
    linear-gradient(#0000000f 1px, transparent 1px);
  background-size: 100px 100px;

  @apply h-full min-h-screen font-nunito;
}

.dark .features {
  background-image: linear-gradient(90deg, #d2e6ff14 1px, transparent 1px),
    linear-gradient(#d2e6ff14 1px, transparent 1px);
}