.hero {
  background-image: linear-gradient(90deg, #0000000f 1px, transparent 1px),
    linear-gradient(#0000000f 1px, transparent 1px);
  background-size: 100px 100px;

  @apply h-screen text-center py-2 w-full font-nunito text-secondary dark:text-primary;

  .hero-title {
    @apply text-3xl px-4 lg:text-5xl font-bold;
  }

  .hero-subtitle {
    @apply text-lg lg:text-xl py-4 px-4;
  }

  .hero-image-container {
    @apply flex justify-center;

    .hero-image {
      @apply w-3/5;
    }
  }

  .hero-swiper {
    .swiper-pagination-bullet {
      @apply inline-block w-6 h-2 lg:w-8 lg:h-3 border border-[#D2E6FF] dark:border-[#D2E6FF4D] rounded-full bg-[#D2E6FF66] dark:bg-[#D2E6FF29];
      transition: width 0.3s ease;
    }

    .swiper-pagination-bullet-active {
      @apply w-10 lg:w-16 border border-[#A4CDFF] dark:border-[#A4CDFF4D] bg-[#D2E6FF4D] dark:bg-[#A4CDFF66];
    }
  }
}

.dark .hero {
  background-image: linear-gradient(90deg, #d2e6ff14 1px, transparent 1px),
    linear-gradient(#d2e6ff14 1px, transparent 1px);
}
